@page "/navmenu"

<!-- Dark Mode Navbar -->
<nav class="navbar navbar-dark bg-dark" data-bs-theme="dark">
  <div class="container">
    <span class="navbar-brand mb-0 h1"><h3>Game Store</h3></span>
  </div>
</nav>

@code {
    // No additional code required
}